<!doctype html>
<html lang="en" data-ng-app="FileManagerApp">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta charset="utf-8"/>
        <title>MAX File Sharing Service</title>
        <link rel="stylesheet" href="../bower_components/ng-flow/css/styles.css"/>
        <link rel="icon" type="image/png" href="../img/us-seal.png"/>

        <!-- third party -->
        <script src="../../bower_components/angular/angular.min.js"></script>
        <script src="../../bower_components/angular-resource/angular-resource.js"></script>
        <script src="../../bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="../../bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="../../bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../bower_components/moment/min/moment.min.js"></script>
        <script src="../../bower_components/flow.js/dist/flow.min.js"></script>
        <script src="../../bower_components/ng-flow/dist/ng-flow.min.js"></script>
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css"/>

        <!-- /third party -->

        <!-- Uncomment if you need to use raw source code -->
        <script src="../../src/js/app.js"></script>
        <script src="../../src/js/directives/directives.js"></script>
        <script src="../../src/js/filters/filters.js"></script>
        <script src="../../src/js/providers/config.js"></script>
        <script src="../../src/js/entities/chmod.js"></script>
        <script src="../../src/js/entities/item.js"></script>
        <script src="../../src/js/services/filenavigator.js"></script>
        <script src="../../src/js/services/fileuploader.js"></script>
        <script src="../../src/js/providers/translations.js"></script>
        <script src="../../src/js/controllers/main.js"></script>
        <script src="../../src/js/controllers/selector-controller.js"></script>
        <script src="../../src/js/controllers/upload-button-controller.js"></script>

        <link href="../../src/css/animations.css" rel="stylesheet"/>
        <link href="../../src/css/dialogs.css" rel="stylesheet"/>

        <!-- Comment if you need to use raw source code -->
        <!--<link href="dist/angular-filemanager.min.css" rel="stylesheet">-->
        <!--<script src="dist/angular-filemanager.min.js"></script>-->
        <!-- /Comment if you need to use raw source code -->

        <script th:inline="javascript">
            var app = angular
                    .module('FileManagerApp')
                    .config(['fileManagerConfigProvider', '$httpProvider', config]);

            function config(config, $httpProvider) {
                var defaults = config.$get();
                $httpProvider.defaults.withCredentials = true;
                config.set({
                    appName: 'MAX File Share - History',
                    onlyFolders: false,
                    tplPath: 'src/templates/admin',
                    allowedActions: angular.extend(defaults.allowedActions, {
                        remove: true
                    })
                });
            }
            app.constant('publicId', null);
        </script>
    </head>

    <body class="ng-cloak">
        <nav class="navbar navbar-default" style="border-radius: 0; color: white; background-color: #428bca;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="pull-left"><img style="width:3em;height:3em;margin-top:3px;" src="../img/us-seal.png"/></a>
                    <a class="navbar-brand" th:href="@{/create}">MAX File Share - File Retrieval</a>
                </div>
            </div>
        </nav>

        <angular-filemanager></angular-filemanager>
    </body>
</html>
