<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MAX Drive</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/fileshare-home.css"/>
</head>
<style> * {  font-family: trajan_reg !important; }</style>
<body>
    <nav class="navbar navbar-default" style="border-radius: 0; color: white; background-color: #428bca;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">MAX Drive</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="text-align: center">
                <!--<h1>MAX File Share</h1>-->
                <p>File has failed Virus Scanner!</p>
                <p>
                    <small><a th:href="@{/}">Upload another file</a></small>
                </p>
            </div>
        </div>
    </div>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>