<!DOCTYPE html>
<html lang="en" ng-app="ngclipboardApp">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>MAX Drive</title>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="../bower_components/ng-flow/css/styles.css"/>
        <link rel="stylesheet" href="../bower_components/highlightjs/styles/github.css"/>
        <link rel="stylesheet" href="../bower_components/primer-css/css/primer.css"/>
        <link rel="stylesheet" href="../bower_components/sweetalert/dist/sweetalert.css"/>
        <link rel="stylesheet" href="../css/font-awesome-4.5.0.css"/>


        <!--<link rel="stylesheet" href="../src/css/clip.css"/>-->

        <link rel="icon" type="image/png" href="../img/us-seal.png"/>
    </head>
    <body ng-controller="ngclipboardCtrl">
        <nav class="navbar navbar-default" style="border-radius: 0; color: white; background-color: #428bca;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="pull-left"><img style="width:3em;height:3em;margin-top:3px;" src="../img/us-seal.png"/></a>
                    <a class="navbar-brand" style="font-family: 'Trajan Pro', Georgia, 'Times New Roman', Times, serif;" th:href="@{/}">MAX Drive</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" style="float: right">
                        <li><a th:href="@{/admin}" class="navbar-nav pull-right">File Upload History</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="blankslate has-fixed-width">
                    <h2><strong>File Uploaded</strong></h2>
                    <i style="color: green; font-size: 64px;" class="fa fa-check-circle-o"></i>
                    <h4><strong>Reminder!</strong> Do not forget your password for this file share.</h4>
                    <p>Copy and share the following link to enable others to access it:</p>
                    <div class="input-group">
                        <input id="foo" type="text" th:value="${host}+'/share/'+${publicId}" readonly/>
                        <span class="input-group-button">
                            <button class="btn" type="button" ngclipboard="" ngclipboard-success="onSuccess(e);" ngclipboard-error="onError(e);" data-clipboard-target="#foo">
                                <span class="glyphicon glyphicon-copy"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <br/>
                <br/>
                <p/>
                    <!--<p>-->
                        <!--<a th:href="@{/}">Upload another file</a>-->
                    <!--</p>-->
                <!--</div>-->
            </div>
        </div>

        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/clipboard/dist/clipboard.min.js"></script>
        <script src="../bower_components/ngclipboard/dist/ngclipboard.min.js"></script>
        <script src="../bower_components/highlightjs/highlight.pack.min.js"></script>
        <script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>
        <script src="../src/js/tooltips.js"></script>
        <script src="../src/js/clipboardCtrl.js"></script>
    </body>
</html>