<panel class="panel panel-default">
    <div class="panel-heading"><b>File Upload History</b> - active files uploded within the past seven days</div>
    <table class="table mb0 table-files">
        <thead>
            <tr>
                <th style="width:1px;white-space:nowrap;">
                    <a href="" ng-click="order('model.name')">
                        {{"name" | translate}}
                        <span class="sortorder" ng-show="predicate[1] === 'model.name'" ng-class="{reverse:reverse}"></span>
                    </a>
                </th>
                <th class="text-right"></th>
                <th class="hidden-xs">
                    <a href="" ng-click="order('model.shareLink')">
                        {{"share_link" | translate}}
                        <span class="sortorder" ng-show="predicate[1] === 'model.shareLink'"
                              ng-class="{reverse:reverse}"></span>
                    </a>
                </th>
                <th class="hidden-xs">
                    <a href="" ng-click="order('model.size')">
                        {{"size" | translate}}
                        <span class="sortorder" ng-show="predicate[1] === 'model.size'" ng-class="{reverse:reverse}"></span>
                    </a>
                </th>
                <th class="hidden-sm hidden-xs">
                    <a href="" ng-click="order('model.date')">
                        {{"date" | translate}}
                        <span class="sortorder" ng-show="predicate[1] === 'model.date'" ng-class="{reverse:reverse}"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody class="file-item">
            <tr ng-show="fileNavigator.requesting">
                <td colspan="5">
                    <div ng-include="config.tplPath + '/spinner.html'"></div>
                </td>
            </tr>
            <tr ng-show="(!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error)">
                <td colspan="5">
                    {{"no_files_in_folder" | translate}}...
                </td>
            </tr>
            <tr ng-show="!fileNavigator.requesting && fileNavigator.error">
                <td colspan="5">
                    {{ fileNavigator.error }}
                </td>
            </tr>

            <tr ng-repeat="item in fileNavigator.fileList | filter: {model:{name: query}} | orderBy:predicate:reverse"
                ng-show="!fileNavigator.requesting">
                <td ng-right-click="touch(item)" style="width:1px;white-space:nowrap;">
                    <a href="" ng-click="item.download()" title="{{item.model.name}} ({{item.model.sizeKb()}}kb)">
                        <i class="glyphicon glyphicon-folder-close" ng-show="item.model.type === 'dir'"></i>
                        <i class="glyphicon glyphicon-file" ng-show="item.model.type === 'file'"></i>
                        {{item.model.name | strLimit : 64}}
                    </a>
                </td>
                <td class="hidden-sm hidden-xs">
                    <div ng-include="config.tplPath + '/item-toolbar.html'"></div>
                </td>
                <td class="hidden-xs col-md-5" ng-controller="ngclipboardCtrl">
                    <div class="input-group col-xs-10">
                        <input id="foo-{{$index}}" type="text" value="{{item.model.shareLink}}" readonly/>
                        <span class="input-group-button">
                            <button class="btn" type="button" ngclipboard="" ngclipboard-success="onSuccess(e);" ngclipboard-error="onError(e);" data-clipboard-target="#foo-{{$index}}">
                                <span class="glyphicon glyphicon-copy"></span>
                            </button>
                        </span>
                    </div>
                    <!--{{item.model.shareLink}}-->
                </td>
                <td class="hidden-xs">
                    {{item.model.sizeKb()}}kb
                </td>
                <td class="hidden-sm hidden-xs">
                    {{item.model.date | formatDate }}
                </td>
            </tr>
        </tbody>
    </table>
</panel>

<panel class="panel panel-default">
    <div class="panel-heading"><b>Expired and Deleted Files</b></div>
    <table class="table mb0 table-files">
        <thead>
            <tr>
            <th style="width:1px;white-space:nowrap;">
                <a href="" ng-click="order('model.name')">
                    {{"name" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.name'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="text-right"></th>
            <th class="hidden-xs">
                <a href="" ng-click="order('model.shareLink')">
                    {{"share_link" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.shareLink'"
                          ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-xs">
                <a href="" ng-click="order('model.size')">
                    {{"size" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.size'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-sm hidden-xs">
                <a href="" ng-click="order('model.date')">
                    {{"date" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.date'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody class="file-item">
            <tr ng-show="fileNavigator.requesting">
                <td colspan="5">
                    <div ng-include="config.tplPath + '/spinner.html'"></div>
                </td>
            </tr>
            <tr ng-show="(!fileNavigator.requesting && fileNavigator.deletedExpiredFileList.length < 1 && !fileNavigator.error)">
                <td colspan="5">
                    {{"no_files_in_folder" | translate}}...
                </td>
            </tr>
            <tr ng-show="!fileNavigator.requesting && fileNavigator.error">
                <td colspan="5">
                    {{ fileNavigator.error }}
                </td>
            </tr>
            <tr ng-repeat="item in fileNavigator.deletedExpiredFileList | filter: {model:{name: query}} | orderBy:predicate:reverse"
            ng-show="!fileNavigator.requesting">
                <td style="width:1px;white-space:nowrap;">
                    <div>
                        <i class="glyphicon glyphicon-folder-close" ng-show="item.model.type === 'dir'"></i>
                        <i class="glyphicon glyphicon-file" ng-show="item.model.type === 'file'"></i>
                        {{item.model.name | strLimit : 64}}
                    </div>
                </td>
                <td class="hidden-sm hidden-xs">
                    <div ng-if="item.model.expired === 'true'">Expired</div>
                    <div ng-if="item.model.expired != 'true'">Deleted</div>
                </td>
                <td class="hidden-xs">
                    <del>{{item.model.shareLink}}</del>
                </td>
                <td class="hidden-xs">
                    {{item.model.sizeKb()}}kb
                </td>
                <td class="hidden-sm hidden-xs">
                    {{item.model.date | formatDate }}
                </td>
            </tr>
        </tbody>
    </table>
</panel>